<html>

<head>
    <title>personal business card</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>


</head>


<body ng-app="OnlineShop">

    <div ng-controller="HomeCtrl">
        <!--- Header start -->

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form novalidate class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                    </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!--- Header end ---->

        <!--display body-->
        <section class="container-fluid body">

            <section class="left-container container-fluid col-md-3" style="margin-top: 2%;">


                <div class="col-md-10 col-sm-5 col-xs-12">
                    <div class="panel panel-danger ">
                        <div class="panel-heading">
                            <h3 class="panel-title">Filters</h3>
                        </div>
                        <div class="panel-body">

                            <!--filter by price-->
                            <button class="btn btn-danger" data-toggle="collapse" data-target="#price-filter">By Price</button>

                            <div id="price-filter" class="collapse">
                                <input type='radio' name="filter" value="<1000" ng-model="price">
                                < 1000 <br/>
                                <input type='radio' name="filter" value="1000-5000" ng-model="price"> 1000-5000
                                <br/>
                                <input type="radio" name="filter" value="5000 >" ng-model="price"> 5000 >
                            </div>
                            <!--filter by brand-->
                            <br/><br/>
                            <button class="btn btn-danger" data-toggle="collapse" data-target="#brand-filter">By Brand</button>

                            <div id="brand-filter" class="collapse">
                                <input type='checkbox' name="filter-brand1" value="Micromax" ng-model="brand['Micromax']">                                Micromax
                                <br/>
                                <input type='checkbox' name="filter-brand2" value="Samsung" ng-model="brand['Samsung']">                                Samsung
                                <br/>
                                <input type="checkbox" name="filter-brand3" value="Alcatel" ng-model="brand['Alcatel']">                                Alcatel
                                <br/>
                                <input type="checkbox" name="filter-brand4" value="Nokia" ng-model="brand['Nokia']"> Nokia
                                <br/>
                                <input type="checkbox" name="filter-brand5" value="LG" ng-model="brand['LG']"> LG

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-10 col-sm-6 col-xs-12" style="height:inherit">
                    <div class="panel panel-danger ">
                        <div class="panel-heading">
                            <h3 class="panel-title">Cart</h3>
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-success">Checkout</button>
                            <br/> Item: {{getCount()}}
                        </div>
                    </div>
                </div>


            </section>


            <section ui-view class="main-body col-md-9" style="margin-top: 2%;" >

                <div style="border:1px solid #eee; margin:2% " class="col-sm-5 col-md-3 item" ng-repeat="item in Product | FilterByName:searchText | FilterByPrice:price | FilterByBrand: brand">
                    <div class="thumbnail-img">
                        <img alt="" class=" img-responsive" src='images/noimg1.jpg' ng-src="{{item.productBaseInfo.productAttributes.imageUrls['275x275']}}">
                        <div class="caption">
                            <h4>{{item.productBaseInfo.productAttributes.title}}</h4>
                            
                        </div>
                        <p>Price: {{item.productBaseInfo.productAttributes.sellingPrice.amount | currency: "Rs " }}</p>
                            <p style="margin-bottom:2%"><a href="#" ui-sref="desc(sendItem(item))" class="btn btn-primary" role="button">View</a></p>
                    </div>
                </div>

            </section>
            <!-- right container-->
            <!--<section class="right-container col-md-2" style="margin-top: 2%;">

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cart</h3>
                    </div>
                    <div class="panel-body">
                            <button class="btn btn-success">Checkout</button>
                            <br/>
                            Item: {{getCount()}}
                    </div>
                </div>

            </section>-->
        </section>
        <!--end of display body-->
    </div>


    <script src="script.js"></script>
    <script src="serviceCall.js"></script>

</body>



</html>